/* header */
.header-container {
    background-color: var(--header-bg);
    width: 100%;
    padding: 1.5rem 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid var(--border);
}

/* nav */
.nav {
    display: flex;
    gap: 2rem;
}

.nav a {
    color: var(--header-text);
    text-decoration: none;
    font-size: 0.95rem;
    position: relative;
}

.nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 1px;
    background: var(--accent);
    transition: width 0.2s ease;
}

.nav a:hover::after {
    width: 100%;
}

/* hero */
.hero {
    text-align: center;
}

/* nome + profile */
.logo {
    font-size: 2.5rem;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(1.5rem, 4vw, 4rem);
}

/* profile */
.avatar-wrapper {
    width: 125px;
    height: 125px;
    padding: 2px;
    background: var(--accent);

    clip-path: polygon(
        20% 0%,
        80% 0%,
        100% 20%,
        100% 80%,
        80% 100%,
        20% 100%,
        0% 80%,
        0% 20%
    );
}

.avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;

    clip-path: inherit;
    display: block;
}


/* sections */
section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem 1rem;
}