/* default (dark) */
:root {
  --header-bg: #0a0c10;
  --header-text: #e6edf3;

  --bg: #10141a;
  --surface: #161b22;

  --text: #e6edf3;
  --gray: #9aa3ad;

  --accent: #7aa88a;
  --accent-hover: #90b89a;

  --border: #2f3644;
}

/* light */
[data-theme="light"] {
  --header-bg: #0969da;
  --header-text: #ffffff;

  --bg: #f7f9fb;
  --surface: #ffffff;

  --text: #1f2328;
  --gray: #57606a;

  --accent: #0969da;
  --accent-hover: #0550ae;

  --border: #d0d7de;
}

/* toggle btn */
.theme-toggle {
  position: fixed;
  top: 1rem;
  right: 1rem;

  background: transparent;
  border: 1px solid var(--header-text);
  border-radius: 20%;
  color: var(--header-text);

  padding: 0.5rem 0.8rem;
  cursor: pointer;

  transition: all 0.2s ease;
}

.theme-toggle:hover {
  background: var(--header-text);
  color: var(--header-bg);
}

/* default */
body {
  background: linear-gradient(
    180deg,
    var(--bg),
    color-mix(in srgb, var(--bg) 88%, #000)
  );
  color: var(--text);
}

p {
  color: var(--gray);
}